<h1>Your Movie lists</h1>


<ul class="list-group my-3">
  <% @lists.each do |list|%>
    <li class="list-group-item d-flex justify-content-between">
      <%= list.name.capitalize%>
      <%= link_to "See details", list_path(list), class: "btn btn-primary btn-sm"%>
    </li>
  <% end%>
</ul>

<%= link_to "Add a new list", new_list_path, class: "btn btn-primary"%>
