<h2> Add a new list</h2>

<%= simple_form_for [ @list ] do |f| %>
  <%= f.input :name %>
  <%= f.submit "Submit list", class: "btn btn-primary" %>
<% end %>
<br>
<%= link_to "Or go back to lists", lists_path%>
